<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113440172204-dr4idhctl0mohuubhp9a0p7qehcv87b6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113440172204-dr4idhctl0mohuubhp9a0p7qehcv87b6</string>
	<key>API_KEY</key>
	<string>AIzaSyBd7Ow3zpDHG42ApxbCiD5cpzzV1CeFb20</string>
	<key>GCM_SENDER_ID</key>
	<string>113440172204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apkBioskop</string>
	<key>PROJECT_ID</key>
	<string>app-bioskop-9543a</string>
	<key>STORAGE_BUCKET</key>
	<string>app-bioskop-9543a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113440172204:ios:cb30cb29f5c93abd225709</string>
</dict>
</plist>